* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url('https://t3.ftcdn.net/jpg/01/18/52/80/360_F_118528027_3ttnstQpWqxttwhOxlSB5JTYP1f6uJPn.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}